@media screen and (max-width: 780px) {
  
  
    .next-move.next-arrow {
        transform: rotate(90deg) translateZ(0px) scale(1.5) !important;
  }
  .next-overlay{
    width: 310px !important;
    height: 251px !important;
    margin-top: 236px !important;
}

   #page .bjj-header.wrapper{
        height: 125px !important;
    padding-right: 0%;
    text-align: center;
     padding-top:10px;
  }
    .mobile-only-ad{
      display:block !important;
    }
  
  
.start-with{
  display:block; 
  position:relative; 
  float:left; 
  background:white;
  margin:3px;
  width: 100% !important;
  margin-left: 0px !important;
  
}
  .start-with.full-hierarchy>div:not(h3),.start-with.ebay-scraper>div:not(h3){
    padding-left:18%;
  }
  .start-with>div:not(h3){
    padding-right:4%;
  }
.jssor_container .jssora03r{
  right: 8px !important;
}
  .home .start-with{
        margin-left: 14%;
  }
  .home .ebay-scraper{
      margin: 2%;
     margin-left: 22%;
  }
    .desktop-only-ad{
      display:none !important;
    }
/*    .bjj-header.wrapper, #promotion-message {
    height: 230px !important;
} */
    #feature-slider .entry-title {
        font-size: 13px !important;
    }
  
  .home .jssor_container{
    height:120px !important;
  }
  .next-move-title {
           margin-left: 0% !important;
    width:100% !important;
    font-size:14px !important;
    z-index:999999;
    margin-bottom: 5px;
    }

  .jssor_container,div[data-u="slides"] {
      height: 250px;
      min-height: 250px !important;
  }
  body:not(.home) .entry-content .jssor_container ,body.home .jssor_container {
    width: 100% !important;
    margin-left: 0% !important;
   
}
  .home .jssor_container {
    padding-top: 20px !important; 
  }
  .entry-content .jssor_container {
     margin-top: -12px !important;
  }
    .home .yarpp-thumbnail-title {
        font-size: 68px !important;
        padding: 0px 5px 0px 5px !important;
    }
    .yarpp-thumbnail-title {
        font-size: 28px !important;
        padding: 0px 5px 0px 5px !important;
    }

    .jssor_container h2 {
        font-size: 50px !important;
        margin-bottom: 15px;
    }

    .jssor_container h4 {
        font-size: 40px !important;

    }

    div[data-u="slides"], [data-u="slides"] > div {
        height: 1000px !important;
    }


    .slides {
        max-width: 600px;
    }

    .archive .entry-content > p:first-child, .archive .entry-content > p:first-child > .fluid-width-video-wrapper iframe, .single .entry-content > p:first-child, .entry-content > p > .fluid-width-video-wrapper iframe, .entry-content > p > .fluid-width-video-wrapper object, .entry-content > p > .fluid-width-video-wrapper embed{
        height: auto !important;
    }

    .entry-container>.entry-content>p {
        overflow: hidden !important;
    }
    .bjj-header p {
        font-size:14px;
        line-height: 14px;
    }

    .bjj-header #promotion-message {
        width: 64%;
    }

    .video-thumb, .tech-video-wrap iframe, .lastViewedExcerpt img ,.tech-video-wrap ,.play-button,
    .site-content article .fluid-width-video-wrapper{
        height: 280px !important;
    }
    .fight-path > .widget_lastviewed > .widgettitle {
        margin-left:29% !important;
        font-size: 15px !important;
        line-height: 14px;
    }
    .fight-path > .widget_lastviewed > .widgettitle {
        width: 48%;}

    .play-button,.video-thumb {
        visibility: hidden;
    }

    .tech-video-wrap {
        position: relative;
        width: 83% !important;
        margin-left: 7%;
        height: 380px;
        margin-top:80px;
    }
    .video-thumb{
        visibility: hidden;
    }

   .home .jssor_container {
        min-height: 133px !important;
    }
    #feature-slider .entry-container, #promotion-message .section, #content .wrapper, .hentry, .no-results, .not-found, .sidebar,
    #comments, #nav-below, #infinite-handle, #supplementary .widget, #site-generator{
        padding: 0px !important;
    }

    article.post .entry-content ul.some-facts, article.post .entry-content h2.some-facts{
        position: relative;
        width: 83% !important;
        margin-left: 9% !important;
        text-align: left;
    }

    h2.some-facts{
        margin-top:20px !important;
    }
    .history.next-arrow {
        margin-bottom: -25px !important;
    }
    .entry-title {
        font-size: 30px !important;
        font-weight: bold;
    }

}

@media screen and (max-width: 480px) {


    .next-move.next-arrow {
        transform: rotate(90deg) translateZ(0px) scale(1.5) !important;
        margin-bottom:20px;
        margin-top: 20px !important;
    }

    .bjj-header #promotion-message {
        width: 70%;
    }
    #content .wrapper{
        margin: 0px;
        width: 100%;
    }
  
    .tech-video-wrap, article.post .entry-content>*:nth-child(n+3) {
        margin-left: 0% !important;
    }.tech-video-wrap {
         position: relative;
         width: 100% !important;
         height: 260px;
     }
}



@media screen and (max-width: 300px) {
    .bjj-header img {
        margin-right: -40px;
    }
    .bjj-header #promotion-message {
        width: 45%;
    }
    .headTxt {
        font-size: 18px !important;
    }
    #promotion-message p{
        display: none !important;
    }
}
