@media screen and (max-width: 780px) {
    #feature-slider .entry-title {
        font-size: 13px !important;
    }

    .yarpp-thumbnail-title {
        font-size: 36px !important;
        padding: 0px 5px 0px 5px !important;
    }

    #jssor_1 h2 {
        font-size: 50px !important;
        margin-bottom: 15px;
    }

    #jssor_1 h4 {
        font-size: 40px !important;

    }

    div[data-u="slides"], [data-u="slides"] > div {
        height: 380px !important;
    }

    div[data-u="slides"] {
        top: 140px !important;
    }

    #jssor_1 {
        height: 135px !important;
    }

    .archive .entry-content > p:first-child, .archive .entry-content > p:first-child > .fluid-width-video-wrapper iframe, .single .entry-content > p:first-child, .entry-content > p > .fluid-width-video-wrapper iframe, .entry-content > p > .fluid-width-video-wrapper object, .entry-content > p > .fluid-width-video-wrapper embed{
        height: auto !important;
    }

    .entry-container>.entry-content>p {
        height: 25px !important;
        overflow: hidden !important;
    }
    .bjj-header p {
        display: none;
    }

    .bjj-header #promotion-message {
        width: 64%;
    }

    .bjj-header img {
        float: left;
    }
    .video-thumb, .tech-video-wrap iframe, .lastViewedExcerpt img ,.tech-video-wrap ,.play-button,
    .site-content article .fluid-width-video-wrapper{
        height: 150px !important;
    }
    .next-move-title {
        width: 800px !important;
    }
    .fight-path > .widget_lastviewed > .widgettitle {
        margin-left:19% !important;
    }
    .play-button,.video-thumb {
        position: absolute;
        left: 0px;
        cursor: pointer;
        top: 0px;
        left: 2%;
    }
    .tech-video-wrap {
        position: relative;
        height: 364px;
        width: 80% !important;
        margin-left: 15%;
    }
}

@media screen and (max-width: 480px) {


    .bjj-header #promotion-message {
        display: none !important;
    }
}